.carrier {
  background: #EDF2F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  background: #2B2D42;
  border-radius: 4px;
  width: 300px;
  height: auto;
  padding: 45px 45px;
}
.login_inner {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.login_inner__avatar {
  background: url(../../../s3-us-west-2.amazonaws.com/s.cdpn.io/217538/default-avatar-ponsy-deer.png);
  background-size: cover;
  border: 3px solid #EDF2F4;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  border-radius: 100%;
}
.login_inner__check {
  border: 1px dashed #FFF;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  position: absolute;
  margin: -185px 120px;
  opacity: 0;
  text-align: center;
}
.login_inner__check--complete i {
  line-height: 4em;
  color: #FFF;
  opacity: 0;
}
.login_inner input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #626371;
    width: 100%;
    margin: 2px;
    padding: 1.1em;
    color: #FFF;
    outline: none;
    font-size: 0.9em;
    text-align: left;
    background: #000;

}
.login_inner input:last-of-type {
  border-bottom: none;
}
.login_inner input[type="submit"] {
  background: #4489a0;
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: center;
  margin: 3em auto 0 auto;
}

.loggedin {
  background: #2B2D42;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.loggedin h2 {
  opacity: 0;
  color: #FFF;
  text-align: center;
  font-size: 1.7em;
}

::-webkit-input-placeholder {
  color: #FFF;
}

:-moz-placeholder {
  color: #FFF;
}

::-moz-placeholder {
  color: #FFF;
}

:-ms-input-placeholder {
  color: #FFF;
}

::-ms-input-placeholder {
  color: #FFF;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.it .btn-orange
{
    background-color: blue;
    border-color: #777!important;
    color: #777;
    text-align: left;
  width:100%;
}
.it input.form-control
{
    
    border:none;
  margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
.it .form-control:focus
{
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*Landing styles*/
.btn-4 {
    /*border-radius: 10px;*/
    color: #fff;
}
.btnz {
    margin-top:20px;
    border: 1px solid #4489a0;
    font-size: inherit;
    color: #4489a0;
    background: transparent;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    /*margin: 15px 30px;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btnc {
    margin-top:20px;
    border: 1px solid #4489a0;
    font-size: inherit;
    color: #fff;
    background: #4489a0;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    /*margin: 15px 30px;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.card-shadow {
-webkit-box-shadow: 1px 15px 18px rgba(0,0,0,0.03);
box-shadow: 1px 15px 18px rgba(0,0,0,0.03);  
}
.input-group-addon {
    background-color: #FAFAFA;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.12);
    color: #D81B60;
    min-width: 48px;
    text-align: center;
    transition: box-shadow .12s linear;
}
.file-input-wrapper.inline {
    display: inline-block;
    width: auto;
}
.btn-primary {
    color: #fff;
    background-color: #303641;
    border-color: #252a32;
}
.file-input-wrapper.inline {
    display: inline-block;
    width: auto;
}
.file-input-wrapper .file2[type="file"] {
    visibility: visible;
}

.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99;
    outline: 0;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
img.trim {
    width:200px;
    height:100px;
}

.alert-danger {
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
}
.alert {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}
.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #3c763d;
}
.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .85rem 1.15rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.25; */
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    /* border-radius: .25rem; */
}
.input-group-text {
    border-color: #ebedf2;
    background-color: #f4f5f8;
    color: #575962;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderz {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderz:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderz {
  background-color: #4489a0;
}

input:focus + .sliderz {
  box-shadow: 0 0 1px #4489a0;
}

input:checked + .sliderz:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderz.round {
  border-radius: 34px;
}

.sliderz.round:before {
  border-radius: 50%;
}
section.short-image {
    /*height: 202px;*/
    background-size: cover !important;
    position: relative;
}
#short-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: #000000;
}
#short-image-bg img {
    opacity: 0.9;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.short-image-title {
    text-align: center;
    margin-top: 65px;
}
.subtitle-margin {
    margin-bottom: 8px;
    margin-top: -2px;
}
.short-title-separator {
    width: 80px;
    height: 3px;
    margin: auto;
    margin-top: 15px;
}
.second-color{
    color:#fff;
    font-size:40px;
    
}


.form-c {
    width:300px;
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: 400px;
	margin: 20px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}


